<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="carousel-caption">
          <p class="subtitles">First slide elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.</p>
          <div class="customer-opinion">
            <%= image_tag "face" %>
            Patryk Wasik, <span id="customer-position">Graphic designer at SYMU</span>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <p class="opinion">Second slide elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.</p>
        <div class="customer-opinion">
          <%= image_tag "face" %>
          Patryk Wasik, <span id="customer-position">Ruby developer at UD</span>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <p class="subtitles">Third slide elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.</p>
        <div class="customer-opinion">
          <%= image_tag "face" %>
          Rob Wasik, <span id="customer-position">Graphic designer at SYMU</span>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <p class="subtitles">Fourth slide elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.</p>
        <div class="customer-opinion">
          <%= image_tag "face" %>
          John Potter, <span id="customer-position">Web designer at SYMU</span>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <p class="subtitles">Fifth slide elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.</p>
        <div class="customer-opinion">
          <%= image_tag "face" %>
          Greg Bachman, <span id="customer-position">Python developer at SYMU</span>
        </div>
      </div>
    </div>
  </div>
</div>
