<div class="container">
  <%= render partial: "navbar" %>

  <div class="row space-row">
    <div class="col-sm-12 text-xs-center">
      <h1><span class="selus-title">Selus</span> is cool app</h1>
      <button style="margin-top: 20px">Explore</button>
    </div>
  </div>
</div>

  <div class="row space-row">
    <div class="col-sm-12">
      <div class="screens"></div>
      <%= image_tag "Screens", class: 'screens' %>
    </div>
  </div>


  <div class="row">

    <!-- <div class="container"> -->
      <div class="col-lg-6 col-lg-push-6 headphone-text">
        <h1><span class="selus-title">Selus</span> is for music</h1>
        <p class="subtitles">
          Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
        </p>
        <button type="button" name="button">View More</button>
      </div>
    <!-- </div> -->
    <div class="col-lg-6 col-lg-pull-6">
      <%= image_tag "Headphones", width: "100%" %>
    </div>
  </div>
<div class="container">
  <div class="row space-row">
    <div class="col-md-12 text-xs-center">
      <h1><span class="selus-title">Selus</span> with a Lot of Features</h1>
    </div>
  </div>

  <div class="row space-row">

    <div class="col-sm-4">
      <%= image_tag "Speaker", id: "speaker" %>
      <div class="details">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p class="subtitles">
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>

      <%= image_tag "Activity", id: "activity" %>
      <div class="details">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p class="subtitles">
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <%= image_tag "Phone", width: '100%' %>
    </div>

    <div class="col-sm-4">
      <%= image_tag "mini-headphones" %>
      <div class="details">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p class="subtitles">
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>

      <%= image_tag "CD" %>
      <div class="details">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p class="subtitles">
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>
    </div>
  </div>

  <div class="row space-row">
    <div class="col-sm-6">
      <%= image_tag "power" %>
      <div class="details">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p class="subtitles">
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>
    </div>

    <div class="col-sm-6">
      <%= image_tag "Graphic", width: '100%'%>
    </div>
  </div>

</div>
<!-- Caresoul -->
<%= render partial: "carousel" %>

<div class="container">
  <div class="row space-row text-xs-center">
    <div class="col-sm-12">
      <div class="details">
        <h1>Discover New music & stuff</h1>
        <p class="subtitles">
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>
    </div>
  </div>

  <div class="row coeluso">
    <div class="col-sm-12">
      <%= image_tag "Coeluso", width: "100%" %>
    </div>
  </div>

  <div class="row" style="text-align: center">
    <div class="col-xs-12">
      <button>Download our app</button>
    </div>
  </div>

  <%= render partial: "footer" %>

</div>
